form {
    width: 256px;
}

form input[type="text"] {
    width: 100%;
}

form label+input[type="text"] {
    margin-top: 1rem;
}

form input[type="text"]+label {
    margin-top: 1rem;
}

form label {
    display: block;
}

.split {
    display: grid;
    grid-template-columns: repeat(2, max-content);
}